
### NPM ignore
demo/
test/
doc/

### Platform
node_modules/
npm-debug.log*
bower_components/
typings/
.tscache

### Build destination
build/
dist/
out/
gen/

### Common
logs/
storage/
*.log
*.secret/
*.secret.*
tmp/
*.tmp

### IDEs
.idea/
nbproject/
